In [24]:
import numpy as np
import pandas as pd

from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt

from keras.models import Sequential
from keras.layers import Dense
from keras.utils import to_categorical

%matplotlib inline

/anaconda3/lib/python3.6/site-packages/h5py/__init__.py:36: FutureWarning: Conversion of the second argument of issubdtype from `float` to `np.floating` is deprecated. In future, it will be treated as `np.float64 == np.dtype(float).type`.
  from ._conv import register_converters as _register_converters
Using TensorFlow backend.

Couldn't import dot_parser, loading of dot files will not be possible.

In [22]:
pd_images = pd.read_csv("../part_02/pd_images.csv")

In [23]:
pd_images.head()

,0,1,2,3,4,5,6,7,8,9,...,24794,24795,24796,24797,24798,24799,24800,24801,24802,24803
0,255.0,255.0,255.0,255.0,255.0,255.0,255.0,255.0,255.0,255.0,...,255.0,255.0,255.0,255.0,255.0,255.0,255.0,255.0,255.0,255.0
1,255.0,255.0,255.0,255.0,255.0,255.0,255.0,255.0,255.0,255.0,...,255.0,255.0,255.0,255.0,255.0,255.0,255.0,255.0,255.0,255.0
2,255.0,255.0,255.0,255.0,255.0,255.0,255.0,255.0,255.0,255.0,...,255.0,255.0,255.0,255.0,255.0,255.0,255.0,255.0,255.0,255.0
3,255.0,255.0,255.0,255.0,255.0,255.0,255.0,255.0,255.0,255.0,...,255.0,255.0,255.0,255.0,255.0,255.0,255.0,255.0,255.0,255.0
4,255.0,255.0,255.0,255.0,255.0,255.0,255.0,255.0,255.0,255.0,...,255.0,255.0,255.0,255.0,255.0,255.0,255.0,255.0,255.0,255.0

In [19]:
labels = pd.read_csv("../part_02/labels.csv")

In [20]:
labels.head()

   label
0      1
1      1
2      1
3      1
4      1

In [37]:
pd_images.shape, labels.shape

((3944, 24804), (3944, 1))

In [25]:
# Use simple neural network to do supervised learning
pd_images_sc = pd_images / 255

In [48]:
from keras.utils.np_utils import to_categorical

categorical_labels = to_categorical(labels-1)

In [49]:
labels.head()

   label
0      1
1      1
2      1
3      1
4      1

In [54]:
X_train, X_test, y_train, y_test = train_test_split(pd_images_sc, categorical_labels, random_state = 42)

In [55]:
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((2958, 24804), (986, 24804), (2958, 3), (986, 3))

In [ ]:
model = Sequential()
model.add(Dense(24804, activation = "relu", input_dim=X_train.shape[1]))
model.add(Dense(3000, activation = 'relu'))
model.add(Dense(30, activation = 'relu'))
model.add(Dense(3, activation='softmax'))

In [ ]:
model.compile(optimizer='adam',metrics=['accuracy'],loss='categorical_crossentropy')

In [ ]:
model.fit(x=X_train,y=y_train,batch_size=32, epochs = 5, validation_data=(X_test, y_test))